[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = gerrit integration in emacs
[access "refs/*"]
	owner = group user/Thomas Hisch (thisch)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Thomas Hisch (thisch)
	label-Verified = -1..+1 group user/Thomas Hisch (thisch)
	push = group user/Thomas Hisch (thisch)
	read = group user/Thomas Hisch (thisch)
	rebase = group user/Thomas Hisch (thisch)
	removeReviewer = group user/Thomas Hisch (thisch)
	submit = group user/Thomas Hisch (thisch)
[access "refs/heads/*"]
	create = group user/Thomas Hisch (thisch)
	push = +force group user/Thomas Hisch (thisch)
	pushMerge = group user/Thomas Hisch (thisch)
	read = group user/Thomas Hisch (thisch)
[access "refs/tags/*"]
	push = group user/Thomas Hisch (thisch)
	push = +force group user/Thomas Hisch (thisch)
